// Specific CSS for your home-page

.img-home {
   background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("home1.jpeg");
   background-size: cover;
   height: 100vh;
}

.btn {
  color: white;

}

